html, body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.container{
	height: 100%;
	z-index: inherit;
}

.top-bar-pai{
	width: var(--bodywidth, 100%);
}

.top-bar{
	background-color: #5433FF;
	display: flex;
	justify-content: space-around;
	height: 70px;
	position: fixed;
	width: 100%;
}

.top-bar-search_bar{
	border-radius: 0 15px 15px 0;
	display: flex;
	margin: 15px 0;
	margin-left: 25px;
}
.top-bar-search_bar input{
	height: 100%;
	width: 300px;
	border: none;
	border-radius: 50px 0 0 50px;
	padding-left: 20px;
	transition: 0.5s;
	font-size: 1.4em;
	outline: none;
}
.top-bar-search_bar button{
	cursor: pointer;
	background-color: #fff;
	height: calc(100% + 2px);
	border: none;
	border-radius: 0 50px 50px 0;
	padding: 0 10px;
	transition: 0.5s;
	width: 40px;
}
.top-bar-search_bar button img:hover{
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}
.top-bar-search_bar button img:active{
	transform: scale(0.9, 0.9);
	width: 20px;
	transition: 0.1s;
}
.top-bar-search_bar button img{
	width: 100%;
}
.top-bar-alert {
	font-size: 1.4em;
	font-weight: bold;
	color: white;
}
.top-bar-user_card-container{
	display: flex;
	margin-top: 4px;
}
.top-bar-user_card-container button{
	cursor: pointer;
	border: none;
	background-color: #5433FF;
	border-radius: 5px;	
	margin-top: 10px;
	margin-right: 15px;
	padding: 0 15px;
	height: 40px;
	width: 40px;
}
.top-bar-user_card-container button:hover{
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}
.top-bar-user_card-container button:active{
	transform: scale(0.9, 0.9);
	transition: 0.1s;
}
.top-bar-user_card_img{
	background-color: white;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.top-bar-user_card_img img{
	width: 100%;
}
.top-bar-user_card_info{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.top-bar-user_card_info p{
	margin:0 15px;
	color: white;
	font-size: 1.em;
}
.top-bar-user_card_info hr{
	width: 80%;
	border:0.1px solid #fff;
} 

.home-no-public-task_bg-svg {
	padding-top: 100px;
    height: 400px;
    z-index: 0;
}
.home-no-task_bg-svg {
	padding-top: 25px;
    height: 400px;
    z-index: 0;
}
.main-content-first_list {
	padding-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}
.main-content-first_list h1 {
	font-size: 3em;
}
.main-content-first_list p {
	font-size: 1.5em;
}
.main-content-first_list p img{
	position: absolute;
	margin-bottom: 30px;
	width: 35px;
}
.main-content-first_list input {
	background-color: #ECECEC;
	color: #FFFFFF;
	font-size: 2em;
	margin-top: 50px;
	border-radius: 50px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: none;
	border: none;
	transition: 0.5s;
}
.main-content-first_list input:focus{
	background-color: #D0D0D0;
	color: #1D1D1D;
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}
.main-content-first_list button {
	font-size: 2em;
	cursor: pointer;
	border-radius: 50px;
	background-color: #5433FF;
	color: #fff;
	margin-top: 20px;
	height: 54.44px;
	width: 407.55px;
	border: none;
	transition: 0.5s;
}
.main-content-first_list button:hover {
	transform: scale(1.1, 1.1);
	transition: 0.5s;
	opacity: 0.8;
}
.main-content-list{
	display: flex;
}

.main-content-list_user-list {
	width: 400px;
	margin-top: 80px;
	display: flex;
	margin-left: 10px;
}

.main-content-list_user-list section header{
	background-color: #5433FF;
	padding: 30px;
	padding-bottom: 10px;
}
.main-content {
	margin-right: 10px;
}
#title_list {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
#delete-task {
	padding-right: 20px;
}
#update-task-private {
	margin-right: 50px;
	padding-right: 20px;
}
#update-task-public {
	margin-right: 50px;
	padding-right: 20px;
}
.main-content-list_user-list section {
	margin-right: 50px;

}
.main-content-list_user-list label{
	font-size: 1.5em;
	font-weight: bold;
	color: #fff;
	width: 100%;
}
.main-content-list_user-list section header div{
	display: inline;
	margin-bottom: 20px;
}
.main-content-list_user-list section header div button{
	background-color: #5433FF;
	border-radius: 0;
	width: 0px;
	padding: 0;
	transition: 0.5s;
}
.main-content-list_user-list section header div button:hover{
	transform: scale(1.3, 1.3);
	transition: 0.5s;
}
.main-content-list_user-list section form {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
}

.main-content-list_user-list section form input {
	height: 30px;
	border: none;
	outline: none;
	border-radius: 50px 0 0 50px;
	font-size: 1.2em;
	padding-left: 10px;
	margin-right: -1px;
}

.main-content-list_user-list section form button {
	background-color: #07f49e;
	height: 32px;
	width: 85px;
	border-radius: 0 50px 50px 0;
	cursor: pointer;
	border: none;
	margin-left: -3px;
	padding-left: 10px;
}

.main-content-list_user-list section form button:hover {
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}
.main-content-list_user-list section form button:active {
	transform: scale(0.9, 0.9);
	transition: 0.1s;
}
.user-tasks {
	display: inline-flexbox;
}
.user-list-conteudo {
	margin-top: -10px;
}
.user-list-estado{
	margin-top: -10px;
	padding-left: 3px;
}
#user-list-conteudo-label {
	padding-left: 20px;
	margin: 0;
	background-color: #949494;
	width: 100%;
	transition: 0.3s;
}

#user-list-conteudo-label:hover{
	background-color: #D6D6D6;
	color: #1D1D1D;
	transform: none;
	transition: 0.3s;
}
#user-list-conteudo-btn {
	background-color: #FA3F4F;
	border-radius: 0px;
	width: 100px;
	float: inline-end;
	transition: 0.3s;
}
#user-list-conteudo-btn:hover {
	background-color: #F40010;
	transition: 0.3s;
	transform: none;
}
#user-list-estado-btn {
	font-weight: 0;
	background-color: #ECECEC;
	border-radius: 0px;
	width: 104%;
	text-align: justify;
	padding-left: 20px;
	font-weight: bold;
	font-size: 1.2em;
}
#user-list-estado-btn:hover{
	background-color: #C0C0C0;
	transform: none;
}
#user-list-estado-lbl {
	cursor: auto;
	font-weight: 0;
	background-color: #ECECEC;
	border-radius: 0px;
	width: 104%;
	text-align: justify;
	padding-left: 20px;
	font-weight: bold;
	font-size: 1.2em;
}
#user-list-estado-lbl:hover{
	background-color: #C0C0C0;
	transform: none;
}

#image-bg-home {
	width: 600px;
	position: fixed;
	margin-top: 230px;
	margin-left: 30px;
	z-index: -1;
}
#image-bg-public {
	width: 600px;
	position: fixed;
	margin-top: 500px;
	margin-left: 650px;
	z-index: -1;
}

#nav-btns {
	padding-top: 10px;
	border: none;
	transition: 0.3s;
	margin-left: 20px;
	cursor: pointer;
	background-color: #5433FF;
}
#nav-btns:hover{
	transform: scale(1.2, 1.2);
	transition: 0.3s;
}
.hidden {
	display:none;
}