* {
    margin: 0;
    padding: 0;
}

.flex {
	display: flex;
}

.flex-center {
	align-items: center;
	justify-content: center;
}

.flex-align {
	justify-content: center;
}

.flex-middle {
	align-items: center;
}

.flex-vertical {
	flex-direction: column;
}

.flex-inline {
	display: inline-flex;
}

.round-border {
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	border-radius: 5px;
}

.fullwindow {
	width:100%;
	height:100vh;
}

.fullheight {
	height:100%;
}

.circle-cross {
	display:inline-block;
	width:50px;
	height:50px;

	background:
	linear-gradient(var(--cross),var(--cross)),
	linear-gradient(var(--cross),var(--cross)),
	var(--crossbg);
	background-position:center;
	background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
	background-repeat:no-repeat;
	border-radius:50%;
}

:root {
	--headerbg: lightgray;
	--userareabg: gray;
	--userlogoutbg: lightgray;
	--userlogoutarrow: white;
	--crossbg: white;
	--cross: black;
	--addtaskbtnbg: lightgray;
}

#header {
	width: 100%;
	height: 8vh;
	background-color: var(--headerbg);
	position: relative;
}

/*#header > div:nth-child(1) {
	width:100px;
}*/


#pesquisacontainer {
	height:100%;
	/*width:290px;*/
	display: inline-flex;
	flex-direction: column;
}

#pesquisa {
	margin-left: 3vw;
	font-size: 1.5rem;
	border-radius: 5px;
	border-color: gray;
	margin-top: auto;
	margin-bottom: auto;
	flex-grow: 0;
}

#usercontainerpai {
	float:right;
	height:100%;
}

#usercontainer {
	background-color: var(--userareabg);
}

#useravatar {
	float: left;
}

#userinfocontainer {
	margin-right: 6px;
	margin-left: 3px;
}

#userlogoutcontainerpai {
	float:right;
	width:21px;
	height:7vh;
}

#userlogoutcontainer {
	background-color: var(--userlogoutbg);
	border-radius:5px;
}

#userlogout {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  
  border-left: 15px solid var(--userlogoutarrow);
  margin-left: 5px;
  margin-right: 1px;
  margin:top: 1px;
  margin-bottom: 1px;
}

#taskslist {
	list-style-type: none;
}

#taskslist > li{
	margin-top: 6vh;
	margin-left: 6vw;
	width:29vw;
}

#taskslist > li > *{
	width:100%;
}

#addtaskbtn {
	background-color: var(--addtaskbtnbg);
}

