<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/styles/login_register.css" rel="stylesheet">
        <title>LOGIN</title>
    </head>
    <body>
        <div class="container">
            <main class="login_form">
                <p class="main-title">Autenticar-se</p>
                <form class="main-login_form">
                        <p>E-mail</p>
                        <input type="text" placeholder="exemplo@email.com"/>
                        <p>Senha</p>
                        <input type="password" placeholder="********">
                        <br>
                        <button><a href="home.html">Entrar</a></button>
                </form>
                <div class="main-login_register_link">
                    <p>Não tem cadastro? <a href="register.html">Cadastre-se</a></p>
                </div>
            </main>
        </div>
    </body>
</html>
