<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/styles/login_register.css" rel="stylesheet">
        <title>REGISTRO</title>
    </head>
    <body>
        <div class="container">
            <main class="login_form">
                <p class="main-title">Cadastrar-se</p>
                <form class="main-login_form">
			<p>Primeiro Nome</p>
			<input type="text" placeholder="exemplo">
                        <p>E-mail</p>
                        <input type="text" placeholder="exemplo@email.com"/>
                        <p>Senha</p>
                        <input type="password" placeholder="********">
                        <br>
                        <button>Entrar</button>
                </form>
                <div class="main-login_register_link">
                    <p>Já possui conta? <a href="login.html">Acesse agora</a></p>
                </div>
            </main>
        </div>
    </body>
</html>
